[submodule "libraries/cpp_bus_driver"]
	path = libraries/cpp_bus_driver
	url = https://github.com/Llgok/cpp_bus_driver.git
	branch = debug
[submodule "libraries/lilygo_device_driver"]
	path = libraries/lilygo_device_driver
	url = https://github.com/Xinyuan-LilyGO/lilygo_device_driver.git
	branch = debug
[submodule "libraries/esp-video-components"]
	path = libraries/esp-video-components
	url = https://github.com/espressif/esp-video-components.git
[submodule "libraries/usp_cpp_bus_driver"]
	path = libraries/usp_cpp_bus_driver
	url = https://github.com/Llgok/usp_cpp_bus_driver.git
[submodule "libraries/bhi2xy_sensorapi_cpp_bus_driver"]
	path = libraries/bhi2xy_sensorapi_cpp_bus_driver
	url = https://github.com/Llgok/bhi2xy_sensorapi_cpp_bus_driver.git
[submodule "libraries/stsw-st25rfal002_cpp_bus_driver"]
	path = libraries/stsw-st25rfal002_cpp_bus_driver
	url = https://github.com/Llgok/stsw-st25rfal002_cpp_bus_driver.git
[submodule "libraries/esp-hosted-mcu"]
	path = libraries/esp_hosted
	url = https://github.com/Llgok/esp-hosted-mcu.git
