[submodule "libraries/cpp_bus_driver"]
	path = libraries/cpp_bus_driver
	url = https://github.com/Llgok/cpp_bus_driver.git
	branch = debug
[submodule "libraries/arduino_cpp_bus_driver"]
	path = libraries/arduino_cpp_bus_driver
	url = https://github.com/Llgok/arduino_cpp_bus_driver.git
	branch = debug
[submodule "libraries/radiolib_cpp_bus_driver"]
	path = libraries/radiolib_cpp_bus_driver
	url = https://github.com/Llgok/radiolib_cpp_bus_driver.git
	branch = debug
[submodule "libraries/icm20948_we"]
	path = libraries/icm20948_we
	url = https://github.com/Llgok/icm20948_we.git
	branch = main
[submodule "libraries/lilygo_device_driver"]
	path = libraries/lilygo_device_driver
	url = https://github.com/Xinyuan-LilyGO/lilygo_device_driver.git
	branch = debug
[submodule "libraries/esp-video-components"]
	path = libraries/esp-video-components
	url = https://github.com/espressif/esp-video-components.git
[submodule "libraries/usp_cpp_bus_driver"]
	path = libraries/usp_cpp_bus_driver
	url = https://github.com/Llgok/usp_cpp_bus_driver.git
