CONFIG_IDF_EXPERIMENTAL_FEATURES=y

CONFIG_FREERTOS_TIMER_TASK_STACK_DEPTH=8192

CONFIG_CPP_BUS_DRIVER_LOG_LEVEL_INFO=y
CONFIG_LILYGO_DEVICE_DRIVER_LOG_LEVEL_INFO=y
CONFIG_LILYGO_BOX_LOG_LEVEL_INFO=y

CONFIG_LILYGO_BOX_DEVICE_T_DISPLAY_P4=y

CONFIG_LV_MEM_SIZE_KILOBYTES=64
