menu "LilygoBox Configuration"
    choice LILYGO_BOX_LOG_LEVEL
        prompt "Select LilygoBox log level"
        default LILYGO_BOX_LOG_LEVEL_INFO
        config LILYGO_BOX_LOG_LEVEL_DEBUG
            bool "Debug"
        config LILYGO_BOX_LOG_LEVEL_INFO
            bool "Info"
        config LILYGO_BOX_LOG_LEVEL_WARNING
            bool "Warning"
        config LILYGO_BOX_LOG_LEVEL_ERROR
            bool "Error"
        config LILYGO_BOX_LOG_LEVEL_NONE
            bool "None"
    endchoice

endmenu
